[submodule "zlux-app-manager"]
	path = zlux-app-manager
	url = git@github.com:zowe/zlux-app-manager.git
[submodule "zlux-platform"]
	path = zlux-platform
	url = git@github.com:zowe/zlux-platform.git
[submodule "zlux-shared"]
	path = zlux-shared
	url = git@github.com:zowe/zlux-shared.git
[submodule "zlux-build"]
	path = zlux-build
	url = git@github.com:zowe/zlux-build.git
[submodule "zlux-server-framework"]
	path = zlux-server-framework
	url = git@github.com:zowe/zlux-server-framework.git
[submodule "zlux-app-server"]
	path = zlux-app-server
	url = git@github.com:zowe/zlux-app-server.git
